
h2 {
    color: #003580;
}

#p1 {
    font-size: 14px;
    color: #000033;

}

.c1 {

    color: #F00;

}

.c2 {

    color: #1F87CC;
}

.c3 {

    color: #FAA53B;
}

.c4 {

    color: #0D7114;
}

.i1 {

    width: 100px;
    height: 160px;
}

.i2 {

    width: 200px;
    height: 130px;
}