h1 {

    text-shadow: 2px 2px 8px #9d9d9d;
    text-align: center;
}

h2 {

    color: #808080;
    text-align: center;
}

.picture1 {
   margin: 0 auto;

}

div{
    text-indent: 2em;
     text-align: center;

}
.xieti{

    font-style: oblique;
    
}